---
# Main SASS file
---

@charset "utf-8";

@import "_functions";
@import "_settings";

@import "partials/_header";
@import "partials/_home";
@import "partials/_about";
@import "partials/_portfolio";
@import "partials/_contact";

body {
    overflow-x: hidden;
}

#main-button {
    position: relative;
    z-index: 0;
}

section:not(:first-of-type) {
    position: relative;
    z-index: 200;
    min-height: 100vh;
    padding: 64px 0;
    
    article:not(:first-of-type) {
        margin: 32px 0;
    }
    
    h1 {
        font-family: Arial;
        font-weight: bold;
        font-size: 3rem;
        color: #eee;
    }
    
    h3 {
        font-family: Arial;
    }

    p {
        color: #eee;
    }
    
    a {
        color: #222;
        border-bottom: 1px dashed;
        @include transition;
        
        &:hover {
            color: scale-color($primary-color, $lightness: -30%);
        }
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
