<section id="about">
    <div class="row">
        <div class="columns">
            <h1 class="reveal-on-scroll"
                data-reveal-animation="zoomIn"
            >Over mij</h1>
        </div>
    </div>
    
    <article>
        <div class="row">
            <div class="medium-9 columns">
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInLeft"
                >
                    Ik ben Ped Zed. Graag werk ik met computers. Ik ben een doorzetter die graag resultaat ziet. 
                    Vandaar ook de interesse in programmeren. Ik maak niet alleen mooie en werkende web applicaties, 
                    maar ik maak ze ook van de allerhoogste kwaliteit.
                </p>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInLeft"
                >
                    Zowel in het echte leven als in de IT vind ik security erg belangrijk. 
                    Daarom ben ik een grote voorstander van up-to-date blijven, <em>Transport Layer Security</em>, 
                    kant-en-klare security libraries en "security on default".
                </p>
                
                <h4 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >Hobby's</h4>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInLeft"
                >
                    Naast programmeren vind ik het ook erg leuk om te sporten. Om gezond te blijven doe ik wekelijks drie dagen
                    aan judo en Mixed Martial Arts (MMA).
                </p>
            </div>
            
            <div class="medium-3 columns">
                <img src="//avatars.githubusercontent.com/u/8146593?s=200"
                     class="side-image reveal-on-scroll"
                     data-reveal-animation="slideInRight"
                     alt="Mijn GitHub avatar"
                     title="Mijn mascotte (vanwege Linux)"
                />
            </div>
        </div>
    </article>
    
    <article>
        <div class="row">
            <div class="columns">
                <h3 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >Full-stack web development</h3>
            </div>
            
            <div class="medium-3 columns">
                <img src="images/web-developer-icon.png"
                     alt="Web developer"
                     class="side-image reveal-on-scroll"
                     data-reveal-animation="slideInLeft"
                />
            </div>
            
            <div class="medium-9 columns">
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Ik ben een full-stack web developer die van alles kan in het gebied van web-based applicaties.
                    Al hoewel mijn expertise in back-end web development ligt met voornaamelijk PHP, 
                    kan ik ook goed omweg met de front-end. Ik schrijf niet alleen code in 
                    HTML5, CSS3 en JavaScript, maar ik doe ook vaak veel aan design. 
                </p>
                
                <h4 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >PHP</h4>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Ik schrijf mijn code altijd zo object-geörienteerd mogelijk. Naast een goede kennis van PHP zelf,
                    heb ik ook ervaring met het <a href="http://laravel.com">Laravel PHP framework</a>.
                </p>
                
                <h4 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >HTML5, CSS3 &amp; JavaScript</h4>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Met ruim vijf jaar ervaring met HTML en CSS kan ik de mooiste web applicaties maken. JavaScript,
                    die ik vaak gebruik voor <em>AJAX</em>, gebruik ik altijd om de user experience te verbeteren:
                    ik schrijf zelden code dat zonder JavaScript onbruikbaar is.
                </p>
                
                <h4 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >Open source</h4>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Ik ben een grote voorstander van <em>open source software</em>. Ik doe dus ook wel eens het 
                    één en ander voor de open source community. Zo meld ik bijvoorbeeld bugs en help mensen met hun
                    projecten.
                </p>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Uiteraard werk ik net zoals elke echte programmeur met versiebeheer systemen zoals 
                    <a href="https://git-scm.com/">Git</a>. Mijn publieke GitHub pagina is te bereiken op
                    <a href="https://github.com/pedzed">https://github.com/pedzed</a>.
                </p>
            </div>
        </div>
    </article>
    
    <article>
        <div class="row">
            <div class="columns">
                <h3 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >Database design</h3>
            </div>
            
            <div class="medium-9 columns">
                <p class="reveal-on-scroll"
                   data-reveal-animation="fadeInLeft"
                >
                    Ik heb kennis opgedaan met middelmatig-grote <em>relational databases</em>. 
                    Zo heb ik bijvoorbeeld een heel rooster systeem gedesigned voor scholen.
                </p>
                <p class="reveal-on-scroll"
                   data-reveal-animation="fadeInLeft"
                >
                    Ik heb ervaring met <em>MySQL, SQLite en Microsoft Access</em>.
                    Verder ben ik nog bekend met <a href="https://www.mysql.com/products/workbench/">MySQL Workbench</a>
                    en Oracle database design.
                </p>
            </div>
            
            <div class="medium-3 columns">
                <img src="images/database-erd-icon.png"
                     alt="Entity Relationship Diagram"
                     class="side-image reveal-on-scroll"
                     data-reveal-animation="slideInRight"
                />
            </div>
        </div>
    </article>
    
    <article>
        <div class="row">
            <div class="columns">
                <h3 class="reveal-on-scroll"
                    data-reveal-animation="zoomIn"
                >Linux desktop &amp; servers</h3>
            </div>
            
            <div class="medium-3 columns">
                <img src="images/linux-desktop.png"
                     alt="Linux desktop"
                     class="side-image reveal-on-scroll"
                     data-reveal-animation="slideInLeft"
                />
            </div>
            
            <div class="medium-9 columns">
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Ik ben een dagelijkse Linux gebruiker. Wanneer ik aan het programmeren ben, werk ik het liefst
                    met Ubuntu, omdat ik heel comfortabel kan werken met <em>Unity's virtual desktops</em>.
                </p>
                <p class="reveal-on-scroll"
                   data-reveal-animation="slideInRight"
                >
                    Ik heb ervaring met Ubuntu servers. Zo heb ik enkele <em>Virtual Private Servers</em> beheerd
                    met <em>LAMP stacks</em>.
                </p>
            </div>
        </div>
    </article>
</section>
