<section id="contact">
    <div class="row">
        <div class="columns">
            <h1>Contact</h1>
            
            <p>
                E-mails worden uiteraard altijd gelezen en indien gewenst, binnen 48 uur beantwoord.
            </p>
            
            <form method="POST" action="//formspree.io/pedzed@outlook.com">
                <div class="field">
                    <label>
                        Naam:<br />
                        <input type="text"
                               name="name"
                               placeholder="Jan Jansen"
                        />
                    </label>
                </div>
                
                <div class="field">
                    <label>
                        E-mail:<br />
                        <input type="email"
                               name="email"
                               placeholder="jan.jansen76@example.com"
                        />
                    </label>
                </div>
                
                <input type="hidden"
                       name="_subject"
                       value="Contact verzoek {{ site.name }}"
                />
                
                <div class="field">
                    <label>
                        Bericht:<br />
                        <textarea name="message"></textarea>
                    </label>
                </div>
                
                <input type="text" name="_gotcha" style="display:none;" />
                
                <button type="submit"
                        class="secondary"
                >
                    Contacteer
                </button>
            </form>
        </div>
    </div>
</section>
