<section id="contact">
    <div class="row">
        <div class="columns">
            <h1 class="reveal-on-scroll"
                data-reveal-animation="zoomIn"
            >Contact</h1>
            
            <p class="reveal-on-scroll"
               data-reveal-animation="slideInLeft"
            >
                E-mails worden uiteraard altijd gelezen en indien gewenst, binnen 48 uur beantwoord.
            </p>
            
            <form method="POST" action="#">
                <div class="field reveal-on-scroll"
                     data-reveal-animation="slideInLeft"
                >
                    <label>
                        Naam:<br />
                        <input type="text"
                               name="name"
                               placeholder="Jan Jansen"
                        />
                    </label>
                </div>
                
                <div class="field reveal-on-scroll"
                     data-reveal-animation="slideInLeft"
                >
                    <label>
                        E-mail:<br />
                        <input type="email"
                               name="email"
                               placeholder="jan.jansen76@example.com"
                        />
                    </label>
                </div>
                
                <div class="field reveal-on-scroll"
                     data-reveal-animation="slideInLeft"
                >
                    <label>
                        Bericht:<br />
                        <textarea name="message"></textarea>
                    </label>
                </div>
                
                <button type="submit"
                        class="secondary reveal-on-scroll"
                        data-reveal-animation="slideInLeft"
                >
                    <!-- <i class="fa fa-envelope-o"></i> -->
                    Contacteer
                </button>
            </form>
        </div>
    </div>
</section>
