<section id="home">
    <div class="intro row">
        <div class="columns">
            <h1 class="reveal-on-scroll"
                data-reveal-animation="bounceIn"
            >Ik ben ped zed.</h1>
            <p class="reveal-on-scroll"
                data-reveal-animation="bounceIn"
            >Dé web ontwikkelaar die je zoekt.</p>
            
            <a href="#contact"
               id="main-button"
               class="button large smooth-scroll reveal-on-scroll"
               data-reveal-animation="bounceInUp"
            >
                Kom in contact
            </a>
        </div>
    </div>
</section>
