#about {
    background: #fff;
    padding: 48px 0;
    
    h1 {
        color: #444;
    }
    
    p {
        color: #666;
    }
    
    .side-image {
        display: block;
        height: 128px;
        margin: 32px auto;
        overflow: hidden;
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
