#contact {
    background: #49a7e9; // #39c
    
    .field {
        label {
            display: initial;
            color: #eee;
        }
        
        input[type="email"],
        input[type="text"] {
            display: initial;
            max-width: 320px;
        }
        
        textarea {
            display: initial;
            width: 420px;
            max-width: 100%;
            height: 180px;
        }
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
