header.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #111;
    
    nav.main ul {
        margin: 0;
        
        li {
            display: inline-block;
            
            a {
                display: block;
                font-size: .75rem;
                font-family: "Avenir LT W01_85 Heavy", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-transform: uppercase;
                color: #888;
                padding: 18px 10px;
                
                &:hover {
                    color: #eee;
                }
            }
        }
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
