#home {
    position: relative;
    z-index: 200;
    background: #111;
    padding: 200px 0 0 0;
    
    h1 {
        font-size: 2.3rem;
        color: #eee;
    }
    
    p {
        font-size: 1.4rem;
        color: #777;
    }
    
    .intro {
        text-align: center;
        padding-bottom: 64px;
    }
}

@media #{$small-up} {
    .browsers {
        height: 300px;
        margin: auto;
        
        .browser {
            position: absolute;
            left: 50%;
            bottom: 0;
            background-size: 100%;
            background-repeat: no-repeat;
            
            &.main {
                bottom: -212px;
                z-index: 100;
                width: 262px;
                height: 512px;
                margin-left: -131px;
                background-image: url('../images/smartphone-zocheap.png');
            }
        }
    }
}

@media #{$small-only} {}

@media #{$screen} and (min-width:#{em-calc(800)}) {
    .browsers {
        width: 960px;
        height: 455px;
        
        .browser {
            background-size: contain;
            
            &.main {
                bottom: 0;
                width: 739px;
                height: 445px;
                margin-left: -370px;
                background-image: url('../images/browser-ghetto-system.png');
            }
        }
    }
}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {
    .browsers .browser.secondary {
        z-index: 50;
        height: 338px;
        width: 525px;
        
        &.browser-left {
            background-image: url('../images/browser-secondary-zocheap.png');
            margin-left: -475px;
        }
        
        &.browser-right {
            background-image: url('../images/browser-secondary-fullkick.png');
            margin-left: -50px;
        }
    }
}

@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
