#home {
    position: relative;
    z-index: 200;
    background: #111;
    padding: 200px 0 0 0;
    
    h1 {
        font-size: 2.3rem;
        color: #eee;
    }
    
    p {
        font-size: 1.4rem;
        color: #777;
    }
    
    .intro {
        text-align: center;
        padding-bottom: 64px;
    }
    
    .browsers {
        width: 960px;
        height: 455px;
        margin: auto;
        
        .browser {
            position: absolute;
            left: 50%;
            bottom: 0;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            
            &.main {
                z-index: 100;
                width: 739px;
                height: 445px;
                margin-left: -370px;
                background-image: url('../images/browser.png');
            }
            
            &.secondary {
                z-index: 50;
                background-image: url('../images/browser-secondary.png');
                height: 338px;
                width: 525px;
                
                &.browser-left {
                    margin-left: -475px;
                }
                
                &.browser-right {
                    margin-left: -50px;
                }
            }
        }
    }
}

@media #{$small-up} {}
@media #{$small-only} {}

@media #{$medium-up} {}
@media #{$medium-only} {}

@media #{$large-up} {}
@media #{$large-only} {}

@media #{$xlarge-up} {}
@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}
@media #{$xxlarge-only} {}
